.neikuan{
	width: 1200px;
	margin:0 auto;
}
.bannerBox{
	width: 100%;
	height:600px;
	position: relative;
	margin-bottom: 20px;
}
.bannerBox .tu>a{
	display: block;
	width: 100%;
	height:600px;
	position: absolute;
	top:0;
	left:0;
}
.bannerBox .tu>a img{
	display: block;
	width: 100%;
	height:600px;
}
.bannerBox .tu>a:first-child{
	z-index: 2;
}
.nav{
	position:absolute;
	height:60px;
	background: rgba(184,18,22,0.5);
	bottom:0;
	left:0;
	width: 100%;
	z-index: 5;
}
.nav a{
	display: block;
	padding:0 20px;
	line-height: 60px;
	font-size: 20px;
	color:#fff;
	float:left;
	margin-right: 86px;
}
.nav a.aa{
	background:rgba(245,245,245,0.5);
	color: #B81216;
}
.logo{
	position: absolute;
	left:50%;
	margin-left: -500px;
	z-index: 5;
	top:50px;
}
.zhe{
	width: 50%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	z-index: 4;
	background: rgba(184,18,22,0.5);
}
/*banner结束*/
/*护肤*/
.xiu{
	padding-top:20px; 
}
.xiu p{
	font-size: 30px;
	color: #B81216;
	line-height: 30px;
	margin-bottom: 10px;
}
.xiu span{
	display: block;
	font-size: 20px;
	color:#B81216;
	line-height: 20px;
	margin-bottom: 20px;
}
.tiao{
	width: 100%;
	height: 3px;
	background: #B81216;
	position: relative;
	margin-bottom: 20px;
}
.tiaoli{
	width: 40px;
	height: 6px;
	background: #B81216;
	position: absolute;
	top:-2px;
	left:0;
	margin-bottom: 20px;
}
.title span{
	line-height: 20px;
	color:#B81216;
	margin-bottom: 20px;
}
.title .pr{
	display: block;
}
.title i{
	display: inline-block;
	width: 20px;
	height:20px;
	border-radius: 50%;
	background: #B81216;
	color:#fff;
	text-align: center;
	line-height: 20px;
}
.cons{
	width: 100%;
	height:600px;
}
.con1{
	width: 25%;
	height:600px;
	float: left;
}
.img{
	position: relative;
	height:44%;
}
.img img{
	display: block;
	margin:0 auto;
	height:100%;
}
.jian{
	width: 20px;height:20px;
	background: #000;
	transform:rotate(45deg);
	position: absolute;
	left:0;
	right:0;
	margin:auto;
	z-index: -1;
}
.jian1{
	bottom:-10px;
}
.jian2{
	top:-10px;
}
.jieshao{
	width: 100%;
	height:56%;
	padding:0 33px;
	border-top: 1px solid #fff;
	box-sizing:border-box;
}
.jieshao h4{
	margin-top: 40px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 16px;
}
.jieshao p{
	font-size: 14px;
}
.xq{
	width:100px;
	height:36px;
	border:1px solid #B81216;
	margin:0 auto;
	border-radius: 18px;
	text-align: center;
	line-height: 36px;
	margin-top: 20px;
	cursor: pointer;
}
.xq:hover{
	color:#fff;
	background-color: #B81216;
}

/*搭配*/
.dapei{
	margin-top: 30px;
}
.dapei .title{
	margin-bottom: 50px;
}
.dapei1{
	width: 100%;
	height:500px;
	background: #B81216;
	margin-bottom: 20px;
}
.dapei1 .neikuan{
	width: 1200px;
	height:100%;
	margin:0 auto;
	position: relative;
	padding:0 50px;
	box-sizing:border-box;
}
.zuojian,.youjian{
	width: 50px;
	height:100px;
	color:#fff;
	position: absolute;
	top:0;
	bottom:0;
	margin:auto;
	line-height: 100px;
	font-size: 40px;
	cursor: pointer;
}
.zuojian{
	left:20px;
}
.youjian{
	right:20px;
}
.xqtu a{
	display: block;
	float: left;
	margin:0 25px;
	margin-top: 50px;
}
.xqtu a img{
	width: 300px;
	height:400px;
}
.xqtu .xqac{
	margin:0px;
}
.xqtu .xqac img{
	width: 400px;
	height:500px;
}
/*搭配完*/
/*香水*/
.xf{
	margin-top: 30px;
	margin-bottom: 50px;
}
.xf .title{
	margin-bottom: 50px;
}
.xfcon{
	width: 1200px;
	height:377px;
}
.xfcon a{
	display: block; 
	width: 23%;
	float: left;
	border:1px solid #999;
	box-sizing:border-box;
	padding:0 20px;
	margin-right:20px;
}
.xfcon a img{
	width: 98%;
	height:300px;
}
.xfcon a p{
	width: 100%;
	text-align: center;
	color:#000;
	font-size: 14px;
	margin-bottom: 20px;
}
.xfcon a h4{
	width: 100%;
	text-align: center;
	color:#000;
	font-size: 16px;
}
/*香水完*/
/*footer*/
footer{
	width: 100%;
	height:298px;
	background:#1a1717;
	border-top: 1px solid #1a1717
}
.lianxi{
	margin-top: 60px;
	text-align: justify;
}
.lianxi:after{
	content: "";
	width: 100%;
	height:0;
	display: inline-block;
}
.lianxi a{
	display: inline-block;
}
.lianxi a img{
	display: inline-block;
	float:left;
}
.lianxi a p{
	display: inline-block;
	float:left;
	color:#fff;
	line-height: 78px;
	margin-left: 10px;
	font-size: 20px;
}
.hao{
	width: 100%;
	text-align: center;
	color:#fff;
	margin-top: 60px;
}
/*footer结束*/
