@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont1';
  src: url('../font1/iconfont.eot');
  src: url('../font1/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font1/iconfont.woff') format('woff'),
  url('../font1/iconfont.ttf') format('truetype'),
  url('../font1/iconfont.svg#iconfont') format('svg');
}
.iconfont1{
	font-family:"iconfont1" !important;
	font-size: 30px;
	font-weight: 400;
	/*float:left;*/
	text-align: center;
	/*height:40px;*/
	line-height: 20px;
	margin:0 auto;
	margin-top: 40px;
	transition:all 1s;
}
.li:hover{
	background: red;
}
.li:hover .iconfont1{
	color:#fff;
	transform:rotate(360deg);
}
.li:hover p{
	color:#fff;
}
.li p{
	font-size: 14px;
	line-height: 20px;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
}
header{
	background:#f2f2f2;
	height: 31px;
	border-bottom: 1px solid #e5e5e5;
}
.neikuan{
	width:1230px;
	margin:0 auto;
	/*overflow: hidden;*/
}
.neikuan:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear:both;
}

.headerNav{
	float: left;
	height: 32px;
}
.headerNav a{
	padding: 0 5px;
	float:left;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 32px;
	/*border-right: 2px solid #423d39;*/
}
.headerNav i{
	font-style: normal;
	font-size: 20px;
	color: #423d39;
	float: right;
	line-height: 32px;

}
.headerNav a:hover{
	color: #c40000;
}

.taobao{
	position: relative;
}
.xiaxuankuang1{
	width: 74px;
	position: absolute;
	top: 32px;
	left:-1px;
	z-index: 5;
	display: none;
	background-color: #fff;
	border:1px solid #e7e7e7;
	border-top: 0;
}
.xiaxuankuang1 p{
	font-size: 12px;
	font-family: 苹方;
	color: #333;
}
.xiaxuankuang1 p:hover{
	color:#c40000;
	text-decoration: underline;
}
.xiaxuankuang3{
	position: absolute;
    width: 175px;
    height: 227px;
    background: #fff;
    left: -48px;
    top: 31px;
    box-shadow: 0 0 5px #aaa;
    z-index: 5;
    display: none;
}
.xiaxuankuang2{
	width: 72px;
	position: absolute;
	top: 32px;
	left:-1px;
	z-index: 5;
	display: none;
	background-color: #fff;
	padding: 4px;
	border:1px solid #e7e7e7;
	border-top: 0;
}
.xiaxuankuang2 p{
	font-size: 12px;
	font-family: 苹方;
	color: #333;
}
.xiaxuankuang2 p:hover{
	color:#c40000;
	text-decoration: underline;
}
.xiaxuankuang4{
	width: 122px;
    overflow: hidden;
    right: 0px;
    left: auto;
	position: absolute;
	top: 32px;
	z-index: 5;
	display: none;
	background-color: #fff;
	padding: 4px;
}
.xiaxuankuang4 li{
	font-size: 12px;
	font-family: 苹方;
	color: #333;
	width: 55px;
	float:left;
}
.xiaxuankuang4 h3{
	font-size: 14px;
	font-family: 苹方;
	color: #222;
	font-weight: bold;
}
.xiaxuankuang4 li:hover{
	color:#c40000;
	text-decoration: underline;
}
.xiaxuankuang5{
    width: 1198px;
    border-width: 0 1px 1px;
    right: 0;
    left: auto;
    padding: 25px 0;
    height: 250px;
    z-index: 5;
    position: absolute;
    top:32px;
    background-color: #fff;
    display: none;
    z-index:10;
}
.xiaxuankuang5 li{
	width: 90px;
    float: left;
    padding: 6px 0;
    overflow: hidden;
    font-size: 12px;
    font-family: 苹方;
    color: #333;
}
.xiaxuankuang5 li:hover{
	color: #c40000;
}
.xiaxuankuang5 .dao1{
	width: 275px;
    padding-left: 30px;
    overflow: hidden;
    height: 200px;
    float:left;
}
.xiaxuankuang5 .dao1 h2{
	color: #f56a00;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: 苹方;
}
.xiaxuankuang5 .dao2 h2{
	color: #2263d4;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: 苹方;
}
.xiaxuankuang5 .dao3 h2{
	color: #000;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: 苹方;
}
.xiaxuankuang5 .dao4 h2{
	color: #666;
    font-size: 16px;
    padding-bottom: 8px;
    font-family: 苹方;
}
.xiaxuankuang5 .dao2{
	width: 375px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    padding-left: 30px;
    overflow: hidden;
    height: 200px;
    float: left;
}
.xiaxuankuang5 .dao3{
	width: 270px;
    border-right: 1px solid #f5f5f5;
    padding-left: 30px;
    overflow: hidden;
    height: 200px;
    float: left;
}
.xiaxuankuang5 .dao4{
	padding-left: 30px;
    overflow: hidden;
    height: 200px;
    float: left;
    width: 150px;
}

.daohang{
	position: relative;
	width: 73px;
}
.shangjia{
	position: relative;
}
.shouji{
	position: relative;
	border:1px solid #f2f2f2;
	border-bottom: 0;
}
.shoucang11{
	position:relative;
	border:1px solid #f2f2f2;
	border-bottom: 0;
}
.headeryou a{
	padding: 0 7px;
	float:left;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 32px;
	display: inline-block;
}
.headeryou{
	height: 32px;
	/*width: 1000px;*/
	float: right;
}
.headeryou a i{
	display: inline-block;
	transform:rotate(90deg);
	margin-left: 3px;
	transition:0.5s;
	font-size: 10px;
}
.headeryou .taobao:hover{
	color: #c40000;
	background: #fff;
	border:1px solid #e7e7e7;
}
.headeryou .shangjia:hover{
	color: #c40000;
	background: #fff;
	/*border:1px solid #e7e7e7;*/
}
.headeryou .daohang:hover{
	color: #c40000;
	background: #fff;
	/*border:1px solid #e7e7e7;*/
}
.headeryou .shoucang11:hover{
	color: #c40000;
	background: #fff;
	border:1px solid #e7e7e7;
	box-sizing:border-box;
}
.headeryou a:hover{
	color: #c40000;
}
.headeryou a:hover i{
	transform:rotate(-90deg);
}
.headeryou .iconfont{
	float:left;
	line-height: 32px;
	color: #c40000;
}
.sousuokuang .color{
	color: #c40000;
}
/*头部结束*/
/*搜索*/
.logo{
    vertical-align: middle;
    margin:0 auto;
    float:left;
	}
.sousuo .neikuan .logo img{
	display:block;
}
.sousuokuang{
	width:625px;
	padding-top: 38px;
	float:left;
	margin-left: 80px;
	}
.kuang{
	width:491px;
	height: 32px;
	border:2px solid #c40000;
	line-height: 32px;
	float: left;
}
input[type=text]:focus{
	outline:2px solid #c40000;
}
.anniu{
	height:36px;
	width:129px;
	background:#c40000;
	float: left;
	font-size: 16px;
	color:#fff;
	text-align: center;
	line-height: 36px;
	font-weight: 600;
}
.sousuokuang span{
	font-size: 14px;
	line-height: 32px;
	color:#999;
	margin-left: 5px;
}
.sousuokuang i{
	font-size: 14px;
	line-height: 32px;
	color:#999;
}
/*搜索结束*/
/*banner部分*/
/*主导航*/
.zhudaohang{
	/*height:36px;*/
	background:#DD2727; 
}
.fenlei{
	width:200px;
	height:36px;
	background: #C60A0A;
	font-size: 16px;
	color:#fff;
	font-weight: 800;
	/*text-align: center;*/
	line-height: 36px;
	float:left;
	margin-right: 25px;
	padding-left: 10px;
	box-sizing:border-box;
}
.bannerBox{
	/*overflow: hidden;*/
	background:#e8e8e8;
}
.tu{
	display: block;
	height: 524px;
	position: relative;
}
.tu img{
	position: absolute;
	left:0;
	top:0;
}

.bannerBox .zhudaohang .neikuan a{
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	color:#fff;
	margin-left: 32px;
	font-weight: 600;
	display: block;
	float:left;
	position:relative;
}
.bannerBox .zhudaohang .neikuan a img{
	width: 90px;
    height: 36px;
    display: block;
    position: relative;
    z-index:10;
}
.xiaomao{
	background-image:url(../img/下载.png);
	background-size: 40px 15px;
    display: block;
    position: absolute;
    width: 40px;
    height: 15px;
    left: 11%;
    display: none;
}
.xiaomao2{
	left:19%;
}
.xiaomao1{
	left:35%;
}
.bannerBox .zhudaohang .neikuan a:hover .xiaomao{
	top:-13px;
	display: block;
}
.chaoshi{
	float:left;
}
.chaohsi:first-child{
	font-size: 16px;
}
.bannertu{
	/*background-image: url(../img/TB1mHscPXXXXXXQapXXSutbFXXX.jpg);*/
	/*height:500px;*/
	background-repeat: no-repeat;
	position: relative;
}

.bannertu .dhfenlei .neikuan{
	/*background-image: url(../img/TB1mHscPXXXXXXQapXXSutbFXXX.jpg);*/
	margin:0;
	/*float:left;*/
	position:relative;
	margin:0 auto;
}
.lunbo{
	width:180px;
	height: 20px;
	top:460px;
	left:580px;
	position: absolute;
	z-index: 3;
}
.lunbodian{
	width:20px;
	height: 20px;
	background: gray;
	border-radius: 50%;
	margin-right: 10px;
	float: left;
	border:2px solid gray;
	box-sizing:border-box;
}
/*.lunbodian:hover{
	background:#fff;
	width:16px;
	height:16px;
}*/
.lunbo1{
	top:460px;
	left:620px;
}
.lunbo2{
	top:460px;
	left:660px;
}
.lunbo3{
	left:700px;
}
.lunbo4{
	left:740px;
}
.bannertu .dhfenlei .neikuan ul{
	float:left;
	height:524px;
	position: absolute;
	left:0px;
	top:0;
	z-index:3;
}
.bannertu .dhfenlei .neikuan li{
	width:200px;
	height:6.25%;
	background-color: rgba(238,238,238,.95);
	font-size: 12px;
	/*line-height:6.25%;*/
	/*text-align: center;*/
	padding-left: 20px;
	box-sizing:border-box;
}
.bannertu .dhfenlei .neikuan li .iconfont{
	float:left;
	font-size: 15px;
	color:#666;
	margin-top: 5px;
	margin-right: 5px;
}
.bannertu .dhfenlei .neikuan li .iconfont:hover{
	color:#c40000;
}
.bannertu .dhfenlei .neikuan li .iconfont1{
	font-size: 20px;
}
.neikuan>ul>li>a{
	display: inline-block;
	height: 100%;
	line-height:31.25px; 
	color:#000;
}
.neikuan>ul>li>a:hover{
	color:#c40000;
}
.baizuo{
	width: 224px;
	height: 100%;
	background: #fafafa;
	float:left;
	padding:10px;
	box-sizing:border-box;
}

.bannerDabai{
	width:852px;
	height:524px;
	background: #fff;
	display: none;
	position: absolute;
	top:0;
	left:200px;
}
.bai{
	padding:19px 30px;
	box-sizing:border-box;
	/*background: red;*/
	float:left;
}
.bai1{
	margin-bottom: 50px;
}
.bai2{
	margin-bottom: 0;
}

.zuocon1{
	float: left;
    width: 81px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 37px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #fff;
}
.zuocon1 img{
	width: 73px;
    display: block;
    margin: 0 auto;
}
.banner2{
	margin-top: 10px;
}
.banner2 img{
	width: 203px;
	height: 87px;
}
.bai1 h2{
	font-size: 14px;
	color:#000;
	float:left;
	font-weight: 600;
}
.baizuocon{
	overflow: hidden;
}
.line{
	width: 493px;
	float:left;
	border-bottom: 1px dashed #999;
	margin-left: 10px;
}
.line>a{
	display: block;
	float:left;
	font-size: 14px;
	height:22px;
	margin-left: 13px;
	color:#666;
}
.line>a:hover{
	color: #e54077;
}
.line>.acolor{
	color: #e54077;
}
/*.bannertu .dhfenlei .neikuan a{
	color:#000;
}*/
.bannertu .dhfenlei .neikuan li:hover{
	background:#fff;
}
.zuobian{
	width:100px;
	height: 475px;
	background-color: rgba(0,0,0,.15);
	float:right;
	margin-top:10px;
	position: absolute;
	right:17px;
	top:15px;
	z-index: 5;
}
.maotou{
	height:90px;
	width:100px;
	text-align: center;
	/*margin:0 auto;*/
	margin-top: 10px;
}
.zuobian span{
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	margin-left: 20px;
	color:#fff;
	font-weight: 600;
}
.qingdenglu{
	width:80px;
	height: 24px;
	font-size: 12px;
	text-align: center;
	/*font-size: 12px;*/
	background: red;
	margin-left: 10px;
	margin-top: 5px;
	color:#fff;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bannertu .dhfenlei .zuobian a{
	font-size: 12px;
	text-align: center;
	/*font-size: 12px;*/
	/*background: red;*/
	margin-left: -6px;
	margin-top: 5px;
	color:#fff;
	padding:12px;
	padding-top: 10px;
}
.tuihuo{
	width:80px;
	height: 110px;
	border-top: 1px solid #123456;
	margin-left: 10px;
	margin-top: 24px;
}
.tuijian{
	width:100px;
	height: 154px;
	text-align: center;
	font-size: 12px;
	color:#fff;
	/*background:red;*/
}
.tuijian img{
	display: block;
	margin: 10px 17px;
}
/*主导航完*/
/*banner部分*/
/*品牌街*/
.bgcolor{
	background: #f5f5f5;
	/*width: 1349px;
	height:4440px;*/
}
.pinpai{
	height: 436px;
	background:white;
	margin-top: 50px;
	margin-bottom: 25px;
}
.pinpaijie{
	width: 488px;
	height: 436px;
	background: #000;
	float:left;
	position:relative;
}
.zuoxiazi{
	position:absolute;
	bottom:0;
	width: 488px;
	height: 60px;
	padding:10px 21px;
	box-sizing:border-box;
}
.zhibob{
	float: left;
    width: 81px;
    height: 31px;
    margin-top: 4px;
    margin-right: 9px;
    background-image:url(../img/下载1.png);
}

.zuoshang{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.zhuti img{
	display: block;
	float:left;
	margin-top: -7px;
}
.pinpai ul{
	float:left;
	width:732px;
}
.pinpai ul li{
	width: 121px;
	height:108px;
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	float:left;
	text-align: center;
	/*line-height: 108px;*/
	position:relative;
	
}
.zhiboz{
	width: 300px;
	height: 40px;
	overflow: hidden;
	position:relative;
}
.zhiboz .zib{
	width: 300px;
	height: 80px;
	position:absolute;
}
.zi{
	width: 300px;
	height: 40px;
	border:0;
	float:none;
	color:#fff;
	text-align: left;
	padding-left: 5px;
	box-sizing:border-box;
	font-weight: 600;
	cursor:pointer;
}
.li{
	width: 121px;
	height:108px;
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	float:left;
	text-align: center;
}
.pinpai ul li img{
	display: block;
	margin:0 auto;
	margin-top: 30px;
	transform:rotateY(0deg);
	transition:1s;
}
.shoucang{
	width: 111px;
	height:98px;
	background-color: rgba(4,4,4,0.4);
	position: absolute;
	right:0;
	left:0;
	margin:auto;
	bottom:0px;
	display: none;
}
/*.pinpai ul li:hover .shoucang{
	display: block;
}*/
.shoucang h6{
	color:red;
}
/*品牌街完*/
/*潮流前沿*/
.title{
	width: 230px;
	height: 36px;
	background:#DD2727;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	font-weight: 800;
	float:left;
	color:#fff;
	margin-right: 20px;
}
.title1{
	margin-right: 0;
}
.chaoliuqianyantu{
	width:230px;
	height: 220px;
	background: #fff;
	text-align: center;
	float:left;
	margin-right: 20px;
}
.tu1{
	margin-right: 0;
}
.chaoliuqianyantu span{
	font-size: 20px;
	color:#000;
}
.chaoliuqianyantu i{
	font-size: 12px;
	color:gray;
}
.fenjiexian{
	height:1px;
	width:200px;
	background:#f5f5f5;
	margin:0 auto;
}
.image{
	background: gray;
	width:140px;
	height:140px;
	border-radius: 50%;
	margin:0 auto;
	margin-top: 10px;
}
.chaoliuqianyantu:hover img{
	width:145px;
	height: 145px;
}
/*潮流前沿完*/
/*朵拉*/
.duola{
	margin-top: 20px;
}
.duola img{
	width: 100%;
}
/*朵拉*/
/*美丽人生*/
.meili{
	overflow: hidden;
	margin-top: 35px;
}
.biaoti{
	overflow: hidden;
	/*background: red;*/
}
.rensheng{
	/*width: 234px;*/
	height: 20px;
	font-size: 20px;
	border-left: 4px solid #c40000;
	text-align: center;
	/*margin-left: 20px;*/
	line-height: 18px;
	float:left;
}
.rensheng1{
	border-left: 4px solid blue;

}
.lianyiqun{
	float:right;
	font-size: 14px;
	color:black;
	line-height: 20px;	
}
.lianyiqun a{
	color:black;
	display:block;
	margin-left: 20px;
	float:left;
	overflow: hidden;
}
.lianyiqun a:hover{
	color:#c40000;
}
.neirong{
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.neirong a{
	display: block;
	float: left;
}
.SKII{
	position: relative;
	width: 246px;
	height: 330px;
}
.zhezhao{
	width: 246px;
	height: 330px;
	position: absolute;
	left:0;
	bottom: 0;
	background: rgba(245,245,245,0.5);
	display: none;
}
.koubei{
	width: 246px;
	position: absolute;
	bottom:110px;
	color:black;
	line-height: 30px;
	background-color:rgba(254,251,251,0.4);
	height:30px;
	overflow: hidden;
}
.koubeid{
	width: 246px;
	height: 60px;
	position:absolute;
	top:0;
	left:0;
}
.koubeijingxuan{
	font-size: 12px;
	width: 246px;
	color:black;
	line-height: 30px;
	text-align: center;
}
.jinzhuang{
	width:246px;
	height: 110px;
	background: #ea5f8d;
	/*float:left;*/
	text-align: center;
}
.jinzhuang1{
	background:#0AA6E8;
}
.jinzhuang2{
	background: #F15453;
}
.jinzhuang i{
	font-size: 28px;
	color:#fff;
	font-weight: 800;
	margin-top: 20px;
	line-height: 58px;
}
.jinzhuang span{
	font-size: 20px;
	color:#fff;
}
.zhongjian ul{
	width: 735px;
	height: 440px;
	background: #fff;
	float:left;
}
.zhongjian ul li{
	width: 244px;
	height: 221px;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	float:left;
	/*text-align: right; */
	position:relative;
}
.zhongjian ul li h2{
	font-size: 20px;
	margin-left:20px;
	margin-top: 20px;
	/*float:left;*/
	color:black;
}
.zhongjian ul li h4{
	font-size: 14px;
	margin-left: 20px;
	color:#ea5f8d;
	/*float:left;*/
}
.zhongjian ul li img{
	position:absolute;
	bottom:0;
	right: 0;
}
.zhongjian ul li:hover img{
	margin-right: 10px;
}
.youbian ul{
	width: 248px;
	height: 440px;
	background: #fff;
	float:left;
}
.youbian ul li{
	width: 249px;
	height: 147px;
	/*border-right: 1px solid #EEE;*/
	border-bottom: 1px solid #EEE;
	float:left;
	/*text-align: right; */
	position:relative;
}
.youbian ul li h2{
	font-size: 20px;
	margin-left:20px;
	margin-top: 20px;
	/*float:left;*/
	color:black;
}
.youbian ul li h4{
	font-size: 14px;
	margin-left: 20px;
	color:#ea5f8d;
	/*float:left;*/
}
.zhongjian ul li h3{
	font-size: 14px;
	margin-left: 20px;
	color:#F15453;
	/*float:left;*/
}
.youbian ul li img{
	position:absolute;
	bottom:0;
	right: 0;
}
.youbian ul li:hover img{
	margin-right: 10px;
}


/*美丽人生*/
/*数码*/
/*.zhongjian1 ul:first-child{
	width: 498px;
	height: 147px;
}*/
.kudian{
	overflow: hidden;
	margin-top: 35px;
}
.rensheng2{
	border-left: 4px solid #F15453;

}
.zhong ul .kuwan{
	width: 244px;
	height: 221px;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	float:left;
	/*text-align: right; */
	position:relative;
}
.zhong ul .kuwan1{
	border-right:0;
}
.zhong ul{
	width: 735px;
	height: 440px;
	background: #fff;
	float:left;
}
.zhong ul li h1{
	font-size: 22px;
	margin-left:20px;
	margin-top: 20px;
	/*float:left;*/
	color:black;
}
.zhong ul li h2{
	font-size: 20px;
	margin-left:20px;
	margin-top: 20px;
	/*float:left;*/
	color:black;
}
.zhong ul li h4{
	font-size: 14px;
	margin-left: 20px;
	color:#0AA6E8;
	/*float:left;*/
}
.kudian .youbian ul li h4{
	font-size: 14px;
	margin-left: 20px;
	color:#0AA6E8;
	/*float:left;*/
}
.zhong ul li img{
	position:absolute;
	bottom:0;
	right: 0;
	transition:all 1s;
}
.zhong ul li:hover img{
	margin-right: 10px;
}

.you ul{
	width: 248px;
	height: 440px;
	background: #fff;
	float:left;
}
.you ul li{
	width: 249px;
	height: 110px;
	/*border-right: 1px solid #EEE;*/
	border-bottom: 1px solid #EEE;
	float:left;
	/*text-align: right; */
	position:relative;
}
.you ul li h2{
	font-size: 20px;
	margin-left:20px;
	margin-top: 20px;
	/*float:left;*/
	color:black;
}
.you ul li h4{
	font-size: 14px;
	margin-left: 20px;
	color:#F15453;
	/*float:left;*/
}
.you ul li img{
	position:absolute;
	bottom:0;
	right: 0;
}
.you ul li:hover img{
	margin-right: 10px;
}
/*猜你喜欢*/
.cainixihuan h2{
	text-align: center;
	/*background: red;*/
	margin-top: 20px;
	margin-bottom:20px;
	color:gray;
	font-size: 22px;
	font-weight: 500;
}

/*猜你喜欢*/
.HLA{
	width: 233px;
	height: 324px;
	border:1px solid #fff;
	/*background: red;*/
	float:left;
	margin-right: 12px;
	margin-bottom: 7px;
	position:relative;
}
.zhe{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(254,254,254,0.3);
	display: none;
	z-index:3;
}
.HLA:hover .zhe{
	display: block;
}
.HLA a{
	display: block;
	width: 233px;
	height: 324px;
}
.HLA:hover{
	border:1px solid #c40000;
}
.HLA1{
	margin-right: 0;
}
.HLA i{
	font-size: 12px;
	color:gray;
	margin:0 10px;
}
.HLA h4{
	font-size: 14px;
	color:#c40000;
	margin-left: 10px;
	margin-top: 16px;
	font-weight: 500;
}
.end{
	font-size: 28px;
	font-weight: 800;
	line-height: 40px;
	text-align: center;
	color:gray;
	margin-top: 20px;
	/*margin-bottom: 10px;*/
	border-bottom: 1px solid #D1D7DC;
}
.bangzhu{
	background: #fff;
	/*margin-bottom: 20px;*/
	/*height:150px;*/
	overflow: hidden;
}
.zhuti{
	height:40px;
	width:251px;
	border-right:1px solid #D1D7DC;
	float:left;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-right: 30px;
	padding-left: 20px;
	/*line-height: 50px;*/
}
.zhuti2{
	margin-left: 20px;
}
.zhuti1{
	margin-right: 0;
	border-right:0;
}
.zhuti h2{
	font-size:20px;
	line-height: 20px; 
	margin-bottom: 5px;
	margin-left: 64px;
}

.zhuti h3{
	font-size: 18px;
	line-height: 19px;
	margin-left: 64px;
	color:gray;
}
.zhifufangshi{
	width:1190px;
	height:192px;
	/*background: #123456;*/
	margin:0 auto;
	padding-top: 20px;
	border-top: 1px solid #D1D7DC;
}
.zhifubao{
	margin-left: 30px;
	float:left;
	margin-right: 150px;
}
.zhifubao span{
	font-size: 16px;
	color:#646464;
}
.zhifubao ul li{
	font-size: 12px;
	color:#8b8b8b;margin-bottom: 5px;
}
.zhifufangshi span{
	font-size: 16px;
	color:#646464;
	font-weight: 700;
	height:30px;
	line-height: 30px;
	text-align: left;
}
.zhifubao1{
	margin:0;
}
.zuoxia{
	margin-top: 167px;
}
.zuoxiatu{
	width:488px;
	height: 90px;
	overflow: hidden;
	margin-top: 10px;
	cursor:pointer;
	position:absolute;
	top:274px;
}
.zuoxiatu ol{
	height:90px;
	width: 1000%;
	position:absolute;
}
.zuoxiatu ol li{
	float:left;
	margin-left: 4px;
	position:relative;
}
.zuoxiatu ol li img{
	display:block;
}
.zhezt{
	width:70px;
	height: 57px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	z-index:3;
}
.zhezt img{
	width:70px;
	height: 57px;
	transition:0.5s;
}
.zuoshang:hover .zhezt img{
	transform:scale(1.2);
}
.zuoxiatu ol li:hover .zhez{
	display: block;
}
.zhez{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	position:absolute;
	top:0;
	left:0;
	display: none;
	z-index:3;
}
.zhez p{
	text-align: center;
	position: absolute;
	bottom:5px;
	width:100%;
	font-size: 14px;
	color:#fff;
	line-height: 20px;
	left:0;
	font-weight: 600;
}
.zhez img{
	width: 36px;
	height: 30px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.zuo{
	width:20px;
	height: 90px;
	background-image:url(../img/123.png);
	position:absolute;
	left:0;
	display: none;
	z-index:3;
	top:0;
	line-height: 50px;
	color:#fff;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.you{
	width:20px;
	height: 90px;
	background-image:url(../img/1234.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position:absolute;
	right:0;
	z-index:3;
	top:0;
	line-height: 50px;
	color:#fff;
	text-align: center;
}
.zuoxiatu:hover .you{
	display: block;
}
.zuoxiatu ol li:nth-child(1){
	margin-left: 0;
}
.zi p{
	color:#fd4889;
	font-size: 14px;
	line-height: 20px;
}


.zuoxia img{
	display:block;
}
footer{
	background:black;
	border-top: 4px solid red;
	/*height:200px;*/
}
.guanyutianmao{
	margin-top: 5px;
}
.guanyutianmao a{
	font-size: 12px;
	color:white;
}
.alibaba{
	margin-top: 10px;
}
.alibaba a{
	font-size: 12px;
	color:white;
}
.alibaba span{
	font-size: 0px;
	color:white;
}

.zuidi{
	color:#a4a4a4;
	font-size: 12px;
	margin-top: 10px;
}
.zuidi a{
	color:#a4a4a4;
	font-size: 12px;
	margin-right: 65px;
	margin-bottom: 10px;
}
.zuidi img{
	margin-top: -4px;
}
.zuidi b{
	display: block;
	line-height: 20px;
	color:#686868;
	font-weight: 400;
	margin-top: 10px;
}
.ditu{
	margin-top: 10px;
}
.wode{
	display: block;
	float: left;
	position: relative;
}
.yimai{
	position: absolute;
	top:32px;
	left:0;
	border:1px solid #e8e8e8;
	display: none;
}
.gouwuche{
	position: relative;
}
.toubu{
	display: block;
	float:left;
}
.shoucang{
	width: 100%;
	height: 100%;
	padding-top: 30px;
	box-sizing:border-box;
}
.shoucang h2{
	color: #fff;
    text-align: center;
    line-height: 20px;
	font-size: 12px;

}
.shoucang h6{
	line-height: 30px;
}
.gouwuche i{
	display: block;
	float: left;
}
.wode:hover{
	height:30px;
	border:1px solid #e8e8e8;
	border-bottom: 1px solid #fff;
	box-sizing:border-box;
	background: #fff;
}
.wode:hover .yimai{
	display: block;
}
.mai{
	display: block;
	font-size: 12px;
	line-height: 18px;
	color:#777;
}
.dingwei{
	position: fixed;
	bottom: 50px;
    left: 50%;
    z-index: 9999;
    text-align: center;
    margin-left: -673px;
    display: none;
    overflow: hidden;
}
.dingwei ul{
	background: #fff;
}
.dingwei ul li{
	padding:4px 4px;
	box-sizing:border-box;
	width: 36px;
	height: 36px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
    background: #666;
    font-size: 12px;
}
.fh{
	padding:4px 4px;
	box-sizing:border-box;
	width: 36px;
	height: 36px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
    background: #999;
    font-size: 12px;;
}

.navB{
	width: 100%;
	background:#DE3232;
	height:50px;
	position:fixed;
	top:-50px;
	/*top:0;*/
	color:#fff;
	z-index: 333;
	font-size:24px;
}
.navB h2{
	float:left;
	margin-top: 24px;
	margin-left: 5px;
}
.navB h3{
	float: left;
	margin-top: 10px;
	
	font-size: 30px;
}
.nav_search{
	display: block;
	float:left;
	margin-left: 50px;
	margin-top: 10px;
	height:30px;
	box-sizing:border-box;
	width:640px;
	padding:5px 3px 5px 5px;
	color:#999;
	border:0;
}
.anniu2{
	float:left;
	width: 90px;
	font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #c40000;
    font-weight: normal;
    height:29px;
    margin-top: 10px;
    text-align: center;
    line-height: 29px;

}
.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear:both;
}
/*有固定*/
.right_Area{
	width: 35px;
	height: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	background-color: #000;
	z-index: 1200;
}
.right_mao{
	width: 35px;
	height: 35px;
	margin-top: 126px;
	cursor: pointer;
	position: relative;
}
.right_maoLis{
	position: absolute;
	bottom:0;
	left:-130px;
	width: 90px;
	height: 35px;
	background: #999;
	color:#fff;
	text-align: center;
	line-height: 35px;
	z-index:3;
	opacity:0;
	font-size: 14px;
	display: none;
	transition:all 0.5s;
}
.kuai{
	width: 14px;
	height:14px;
	transform:rotate(45deg);
	background: #999;
	z-index:2;
	position: absolute;
	right:-7px;
	top:0;
	bottom:0;
	margin:auto;
}
.right_mao:hover{
	background: #c40000;
}
.you_gouwuche{
	width: 35px;
	height: 100px;
	margin: 8px 0;
	text-align: center;
	padding: 0 5px;
	box-sizing:border-box;
	margin-bottom: 8px;
}
.you_gouwuche>a{
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 0;
	box-sizing:border-box;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
.you_gouwuche>a>.iconfont{
	margin-bottom: 5px;
	font-size: 20px;
	color: #dd2727;
}
.you_gouwuche_zi{
	font-size: 14px;
	color: #fff;
}
.you_gouwuche:hover{
	background: #c40000;
}
.you_gouwuche>a>.iconfont:hover{
	color: #fff;
}
.you_zichan{
	width: 35px;
	height: 35px;
	text-align: center;
	margin-bottom: 8px;
	cursor: pointer;
	position:relative;
	
}
/*.you_zichan:hover .right_maoLis2{
	opacity:1;
	left:-90px;
	display: block;
}*/
.you_zichan>.iconfont{
	font-size: 18px;
	color: #fff;
	line-height: 35px;
}
.you_zichan:hover{
	background: #c40000;
}
.you_guanzhu{
	width: 35px;
	height: 35px;
	text-align: center;
	margin-bottom: 8px;
	cursor: pointer;
	position:relative;
}
/*.you_guanzhu:hover .right_maoLis3{
	opacity:1;
	left:-90px;
	display: block;
}
.you_cz:hover .right_maoLis4{
	opacity:1;
	left:-90px;
	display: block;
}*/
.you_guanzhu>.iconfont{
	font-size: 20px;
	color: #fff;
	line-height: 35px;
	font-weight:200;
}
.you_guanzhu:hover{
	background: #c40000;
}
.you_cz{
	width: 35px;
	height: 35px;
	text-align: center;
	margin-bottom: 8px;
	cursor: pointer;
	position:relative;
}
.you_cz>.iconfont{
	font-size: 24px;
	color: #fff;
	line-height: 35px;
	font-weight:200;
}
.you_cz:hover{
	background: #c40000;
}
/*.you_yhfk:hover .right_maoLis5{
	opacity:1;
	left:-90px;
	display: block;
}*/
.you_ewm{
	width: 35px;
	height: 35px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom: 35px;
}
.you_ewm>.iconfont{
	font-size: 22px;
	color: #fff;
	line-height: 35px;
}
.you_ewmLis{
	width: 155px;
	height: 207px;
	position: absolute;
	bottom: -10px;
	right: 34px;
	background-image: url(../img/celan2.png);
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}
.you_ewmLis_tu{
	float: left;
	width: 155px;
	height: 145px;
}
.you_ewmLis_tu>img{
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 28px;
	margin-top: 45px;
}
.you_ewmLis_zi{
	float: left;
	width: 155px;
	height: 26px;
}
.you_ewmLis_1{
	position: absolute;
	bottom: 20px;
	right: -4px;
	width: 10px;
	height: 10px;
	background: #ff3838;
	transform:rotate(45deg);
}
.you_ewm:hover{
	background: #c40000;
}
.you_yhfk{
	width: 35px;
	height: 35px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom: 70px;
}
.you_yhfk>.iconfont{
	font-size: 20px;
	color: #fff;
	line-height: 35px;
	font-weight:200;
}
.you_yhfk:hover{
	background: #c40000;
}


.maincolor{
	color:#c40000;
}